<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764046492553-38j40nsu9qucoj5mgkbemiis8h9iu1g6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764046492553-38j40nsu9qucoj5mgkbemiis8h9iu1g6</string>
	<key>API_KEY</key>
	<string>AIzaSyBbh-gPEDAuSpSnEhwVxZ4px-Cp5tYAmLI</string>
	<key>GCM_SENDER_ID</key>
	<string>764046492553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eray.company.calerdarbudget.CalendarBudget</string>
	<key>PROJECT_ID</key>
	<string>calendarbudget-447d9</string>
	<key>STORAGE_BUCKET</key>
	<string>calendarbudget-447d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:764046492553:ios:912d06164060b3f3dcd758</string>
	<key>DATABASE_URL</key>
	<string>https://calendarbudget-447d9-default-rtdb.firebaseio.com/</string>
</dict>
</plist>
